.loader {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  padding-right: 20px;
  flex-direction: column;
  max-width: 800px;

  text-align: start;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  border-radius: 30px;
  background-color: var(--color-bg-dark);
  padding-bottom: 40px;
}

.id {
  font-size: 2rem;
  color: var(--color-text-gray);
  font-weight: 800;
}

.title {
  color: var(--color-main);
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 2rem;
}

.body {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &::first-letter {
    text-transform: uppercase;
  }
}

.readmore {
  cursor: pointer;
  margin-top: 20px;
  align-self: end;
  font-weight: 800;
  font-size: 0.8rem;
  border: 0px;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  background-color: var(--color-bg-black);
  color: var(--color-main);
  &:hover {
    color: var(--color-main-hover);
  }
  &:active {
    margin-top: 21px;
  }
}
